Broken dov^ni gods survive
in the crevasses and mudpots
of every beleaguered city
where it is obvious
there are too many bodies
to cart to the ovens
or gallows
and our uses have become
more important than our silence
after the fall
too many empty cases
of blood to bury or bum
there will be no body left
to listen
and our labor
has become more important
than our silence.
Our labor has become
more important
than our silence.
(from Audre Lorde's The Black Unicorn, W.W. Norton &Co., 1978)